<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="https://www.thymeleaf.org" 
      layout:decorate="~{/fragments/layouts/base_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>DashBoard</title>
  </head>
  <body>
    <section layout:fragment="content" class="admin-dashboard">
      <h1>Admin Dashboard</h1>
      <p>Welcome to the admin dashboard</p>
      <div class="btn-group">
        <div class="dropdown">
          <button type="button" class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown">Books</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#bookModalAdd">Add</a></li>
              <li><a class="dropdown-item" href="#">Remove</a></li>
              <li><a class="dropdown-item" href="#">Edit</a></li>
            </ul>        
        </div>
        <button type="button" class="btn btn-outline-primary">ClassRoom Reservations</button>
      </div>
      <!-- Book Modal -->
      <div class="modal fade" id="bookModalAdd" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="bookModalLabel">A</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <select class="form-select" aria-label="Genre">
                <option value="1">Romance</option>
                <option value="2">Adventure</option>
                <option value="3">Fantasy</option>
              </select>
              <div class="mb-3">
                <label for="Author-name" class="form-label">Email address</label>
                <input type="text" class="form-control" id="Author-name" placeholder="Author">
              </div>
              

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Add Book</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>