<!DOCTYPE HTML>
<html lang="en" data-bs-theme="dark" xmlns:th="https://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head> 
    <title>Testing Http Response</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <section layout:fragment="content">
        <h1>Login Done</h1>
        <p th:text="'UserRegister: ' + ${user.username}"/>
    </section>
</body>
</html>
