<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="https://www.thymeleaf.org" 
      layout:decorate="~{/fragments/layouts/base_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>DashBoard</title>
  </head>
  <body>
    <section layout:fragment="content">
      <h1 style="text-align: center;">UserDashboard Content</h1>
      <button type="button" data-bs-toggle="modal" data-bs-target="#book-add-modal" class="btn btn-outline-warning">Add</button>
      <!-- Book-Table -->
      <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Return Date</th>
                    <th>State</th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="reservation : ${user_reservations}">
                    <td th:text="${reservation.item.name}"></td>
                    <td th:text="${reservation.item.author}"></td>
                    <td th:text="${reservation.endDate}"></td>
                    <td></td>
                    <!-- Add more data cells as needed -->
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Book-add Modal -->
    <div class="modal fade" id="book-add-modal" tabindex="-1" aria-labelledby="book-add-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="book-add-modal-label">Add Book</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="reservation-add-form" action="#" th:action="@{/dashboard-reservation-add}" method="post" th:object="${reservation}">
              <select class="form-select" aria-label="Titles" th:field="*{item}">
                <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.name}"></option>
              </select>
              <div class="modal-footer">
                <button id="book-add-close-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="book-add-btn" type="submit" class="btn btn-primary">Add Book</button>
              </div>
            </form>
          </div>
        </div>
      </div> 
    </div>

    </section>
  </body>
</html>