.form-login {
    max-width: 330px;
    padding: 1rem;
  }

.form-register {
    max-width: 330px;
    padding: 1rem;
  }

.user-name {
  text-decoration-color: gold;
  color: gold;
}

.user-name:hover {
  color: yellow;
  text-decoration-color: yellow;
}

.manager-dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edit-button {
  display: flex;
}